.landing {
  height: 200vh;
  width: 100vw;

  background-color: #f3f3f4;

  &__content {
    position: absolute;
    top: 15%;
  }

  &__title--main {
    font-size: 4.5rem;
    padding-left: 1rem;
    color: #171614;
  }

  &__title {
    font-size: 2.5rem;
    padding-left: 1rem;
    color: #34312d;
    position: relative;
    bottom: 15px;
  }

  &__socials {
    display: flex;
    gap: 1rem;
    font-size: 2.5rem;
    padding: 1rem;
    color: #34312d;
  }

  &__socials .link {
    color: #34312d;
  }

  &__introduction {
    width: 90%;
    font-size: 1rem;
    padding: 2rem 1rem;
    color: #34312d;
  }
}
