.landing {
  height: 100vh;
  width: 100vw;

  background-color: #f3f3f4;

  &__content {
    position: absolute;
    top: 15%;
  }

  &__title--main {
    font-size: 4.5rem;
    padding-left: 1rem;
    color: #171614;
  }

  &__title {
    font-size: 2.5rem;
    padding-left: 1rem;
    color: #34312d;
    position: relative;
    bottom: 15px;
  }

  &__socials {
    display: flex;
    font-size: 2.5rem;
    color: #34312d;
  }

  &__socials .link {
    color: #34312d;
  }

  &__introduction {
    width: 90%;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    color: #34312d;
  }
}

@media screen and (min-width: 850px) {
  .landing {
    max-width: 100%;
    &__title--main {
      font-size: 7rem;
      padding-left: 2rem;
    }
    &__title {
      font-size: 3rem;
      padding-left: 2rem;
    }

    &__socials {
      padding-left: 2rem;
    }

    &__introduction {
      font-size: 1.5rem;
      width: 60%;
      padding-left: 2rem;
    }
  }
}
