.project {
  height: 100vh;
  &__title {
    display: flex;
    justify-content: center;
    padding: 2rem 2rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .defi {
      background-image: url("src/assets/project/Capture d'écran 2024-01-02 215306.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .nissa {
      background-image: url("src/assets/project/Capture d'écran 2024-01-02 215758.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .party {
      background-image: url("src/assets/project/party.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__card {
    width: 350px;
    height: 250px;
    background-color: aqua;
    border-radius: 14px;
    border: 1px solid black;
    cursor: pointer;
  }
}

@media screen and (min-width: 850px) {
  .project {
    height: 140vh;
    background-color: #f3f3f4;
    &__title {
      font-size: 3rem;
    }

    &__container {
      display: flex;
      justify-content: center;
      gap: 1rem;
      background-color: #f3f3f4;
    }

    &__card {
      width: 450px;
      height: 350px;
    }
  }
}
